﻿@{
    ViewData["Title"] = "Contact Me";
}
<link rel="stylesheet" href="~/css/contact.css" asp-append-version="true" />

    <p class="my-paragraph"> Contact me via azuorugeorge@gmail.com</p>


<!-- Assignment -->