@{
    Layout = "_Layout";
}

<link rel="stylesheet" href="~/css/Index.css" asp-append-version="true" />

<div class="text-center">
    <h1 class="display-4">Welcome To My Portfolio!</h1>

    <!-- Profile Picture -->
    <div class="profile-container">
        <img src="~/image/122820824.jpg" alt="Profile Picture" class="profile-pic" />
    </div>

    <p>
        Hello, I'm George, A Software Engineer<br />
        Game Developer and Video Editor
    </p>
</div>




<!-- LinkedIn and GitHub Buttons -->
<div class="text-center">
    <a href="https://www.linkedin.com/in/icpplayz/" class="btn btn-primary" target="_blank">LinkedIn</a>
    <a href="https://github.com/PlayzAe" class="btn btn-dark" target="_blank">GitHub</a>
</div>


</div>

